<% provide(:title, "Log in") %>

<h1>Log in</h1>

<form>
  E-mail<br>
  <input type="text" placeholder="Enter E-mail" name="mail" style="width : 400px"><br>
    Password<br>
  <input type="password" placeholder="Enter Password" name="password" style="width: 400px"><br>
  <button>login</button>
  <br> News User? <a href="">Sign Up!</a><br>
</form>